#tooltip {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px black;
  display: block;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 999;
}
#tooltip.show {
  display: block;
  left: 0;
  pointer-events: all;
  top: 0;
  transition: all .3s ease;
  visibility: visible;
}